colors = {
  sidebar: #425074,
  grey_item: #ABAFBD,
  sb_active: #35405D,
  hover: #46ABDA,
  td_border: #E6E6E6,
  trash: #FF9999,
  white: #ffffff,
  count: #0091D1,
  count_unselected: #697390,
  todo: #060606
}

nav_header(img)
  font-size: 18px
  color: colors.white
  background: transparent url("../assets/" + img + ".png") 100px 10px no-repeat
  
button()
  background: #0091D0
  border: none
  color: colors.white
  border-radius: 5px
  width: 185px